[2015-11-03 07:33] nsnagarajan opened #2 "Requesting name change for 'toMatch' matcher."
Hi,
I am working with pix-diff. Got to know that [pix-diff implemented a toMatch()](https://github.com/koola/pix-diff/blob/master/index.js#L211) matcher that conflicts with Jasmine's default toMatch() matcher. It would be helpful if you rename that matcher to something more specific like toMatchScreenshot, or I can change that and can create a PR for that.

Thanks,
Nagarajan NS

[2015-11-04 07:11] koola commented on #2
Thanks for pointing this out. Fixed in commit df527a6

[2015-11-04 07:11] #2 closed

[2015-11-04 07:14] nsnagarajan commented on #2
Thanks for the immediate action!

[2015-11-13 07:41] nsnagarajan opened #3 "Threshold value?"
Is there any option to set threshold in pix-diff?

[2015-11-18 01:11] koola commented on #3
There is, see the test spec [here](https://github.com/koola/pix-diff/blob/master/test/integration.spec.js#L31). The default value is 500 pixels.

[2015-11-18 05:43] nsnagarajan commented on #3
Thanks a lot!!

[2015-11-19 02:53] #3 closed

[2015-12-08 19:05] nathan-grant opened #4 "If browser returns half pixel for getLocation() saveRegion/checkRegion fails"
Hi thanks for your helpful project.  I came across a bug today that is down somewhere at the Sauce/Selenium/Browser level but I think there is an easy way to handle it in this repo, if you so choose :)

Basically I was doing some save/checkRegion code for a login box, and when I run it locally (OSX/Chrome) I get the region cropped with no issues, but when I execute the protractor test on SauceLabs

[2015-12-14 22:02] qualityshepherd opened #6 "saveRegion throws error: element.getSize is not a function"
When attempting to `saveRegion`, I'm getting an error: `element.getSize is not a function`. I'm able to do a `saveScreen`. I'm running:

     browser.pixdiff.saveRegion($('div.page-viewport.top div.pinned-container'), tag);

I'm on Protractor 3.0, Node v4.2.1

[2015-12-14 22:54] qualityshepherd opened #7 "saveScreen throws error: Maximum call stack size exceeded"
When running `saveScreen` during a test, the test fails with ``.

        it('page1 should match', function() {
            var tag = 'my-tag';
            viewPage.goto(relativeUrl); // navigates to a page
            browser.pixdiff.saveScreen(tag);

            expect(browser.pixdiff.checkScreen(tag)).toMatchScreen();
        });

protractor 3.0, node v4.2.1

[2015-12-15 17:08] qualityshepherd commented on #7
This was specific to the page I was testing with.

[2015-12-15 17:08] #7 closed

[2015-12-15 18:06] qualityshepherd commented on #6
The element was not being found... might want to add error handling for this condition.

[2015-12-15 18:06] #6 closed

[2015-12-17 18:48] koola commented on #4
Apologies for the late reply. Thanks for looking into this and providing the PR, which is merged and publish in [v1.0.7](https://github.com/koola/pix-diff/releases/tag/v1.0.7).

[2015-12-17 18:48] #4 closed

[2016-02-19 16:45] joaoffalcao opened #8 "Retina Screenshots"
I'm trying to use pix-diff but I'm facing two problems both related with retina displays.

The first one, occurs when using saveRegion, on retina displays, the saved screenshot is not getting my region correctly, but just on retina.

The second problem, is that my retina page screenshots are different from my screenshots in regular displays for the same content, just because of the pixel ratio.

H

[2016-02-19 17:45] joao10falcao commented on #3
Is it possible to set it on the declaring the pix-diff globally instead on the matched?

[2016-02-20 14:34] koola commented on #3
Not at this time. I'll look to add it in the next release as I agree it would be quite useful.

[2016-02-20 14:39] koola commented on #8
Not had issues with retina images on my retina mbp or with running the tests. Images should ideally be like for like to minimize any of these inconsidtencues.

[2016-03-01 17:58] joaoffalcao commented on #8
What browser are you using to run your tests?
After some research I figured out that, on Chrome, there are retina issues, on PhantomJS don't.

[2016-03-01 18:05] joaoffalcao opened #9 "Choose screenshot's file name"
Hi,

What do you think of define the output name of the screenshot? Right now on ```saveRegion(element(by.css('.header'), 'module-header');```but the output file is named `module-header-chrome-480x320.png`. I want to name my file 'module-header' like I specified on the saveRegion().
What do you think of it?

Regards,
João Falcão

[2016-03-04 00:51] koola commented on #8
Am using Chrome Version 48.0.2564.116 (64-bit) on a MBP.

[2016-03-04 00:53] koola commented on #9
That's quite easy to do, I'll add it for next release.

[2016-03-04 01:29] joaoffalcao commented on #9
Do you have plans to bump the new version soon?

[2016-03-04 01:31] joaoffalcao commented on #8
It's very strange, did you tried to run the same test in a regular display (a non retina one)?

[2016-04-04 11:23] D4NH opened #10 "blockOut and debug option not being applied"
`expect(browser.pixdiff.checkScreen(name, { debug: true, blockOut: { x: 0, y: 0, width: 1080, height: 60 }} )).toMatchScreen();
`

object params are being pushed into the optionsB variable, but do not reflect (can't see the blockOut) on the diff image. any idea what could be wrong?

im trying to ignore the android status bar, where the clock is.

[2016-04-05 08:31] koola commented on #10
It is being ignored according to the diff as it would be highlighted in red otherwise. If you wish to clearly see the visual area being ignored, try set `blockOutOpacity: 0` in the object props.

[2016-04-05 09:38] D4NH commented on #10
This is what happens now, it marks the changes in red. But still not blocking the area out which I have given.

{ debug: true, blockOut: { x: 0, y: 0, width: 1080, height: 60 }}

![homepage-pm_samsung_s6](https://cloud.githubusercontent.com/assets/6664547/14277286/dc117f9c-fb22-11e5-8cc5-9847a15612a7.png)

[2016-04-05 10:58] Divyata-Singh opened #11 "Cannot read property 'browserName' of undefined"
It gives the above error in index.js file when I do a saveScreen or saveRegion or CheckScreen.
Please find attached my conf file.  I'm trying to take a screenshot of the google homepage in my spec file.Also my protractor version is 3.2.1.
Is there any basic configuration setting that i am missing?

Thanks
Divyata
[protractorConf.txt](https://github.com/koola/pix-diff/files/204284/protractorConf.tx

[2016-04-05 12:56] D4NH commented on #10
blinkdiff expects and _blockOut:object, but pixDiff passes an array through options.

when using the following parameter in the expect:

`expect(browser.pixdiff.checkScreen(name, { debug: true, blockOut: [{ x: 0, y: 0, width: 1080, height: 60 }]} )).toMatchScreen(); `

it works correctly and the blockOut is being shown on the diff image

[2016-04-05 12:56] #10 closed

[2016-04-06 05:40] koola commented on #11
Probably the `.getCapabilities` call is failing and not setting the capabilities object that `browserName' is accessed via. Try setting the screen size to a lower resolution and see if it works.

[2016-04-06 05:43] koola commented on #8
I've not had time to look into this. Could you provide any screens and/or errors thrown please?

[2016-04-06 12:34] msviha commented on #11
Facing same issue, the getCapabilities() now doesn't work at all (without using pix-diff). I just changed init phase of index.js to use getProcessedConfig()

[code]

[2016-04-06 18:46] msviha commented on #11
to getCapabilities now:
[code]

previous way doesn´t work
[code]

[2016-04-07 04:47] Divyata-Singh commented on #11
With the latest Protractor version it doesn't work but works with Protractor 3.1.1. As @msviha pointed the getProcessedConfig() can be used for getting the capabilities.

[2016-04-07 04:47] #11 closed

[2016-04-07 04:49] koola commented on #11
Thanks @msviha, I'll look to adding `capabilities.get('browserName')` compatibility to the next release.

[2016-04-07 08:59] koola commented on #9
Check out the latest release v1.0.8 ```formatImageName``` option for this.

[2016-04-07 08:59] #9 closed

[2016-04-08 09:35] D4NH commented on #8
hmm I have a similar issue.

on OSX: gets the correct coordinates. saves the image but on a different x/y coordinate because the image is an retina image.
on W7: gets the correct coordinates, saves the correct image

[2016-04-08 11:28] joaoffalcao commented on #8
@D4NH to solve it, I start using PhantomJS instead of Chrome

[2016-04-11 06:40] D4NH commented on #8
hmm.. what if we resize the image first before we crop it, would that work?

[2016-04-11 13:00] joaoffalcao commented on #8
Yes, that was my first approach and that worked well, but I used `browser.executeScript()`, so the solution wasn't good enough.

[2016-04-14 09:57] Legiew opened #12 "Use with Mocha/Chai"
Hey,

you have a very great module here. We worked out to get it running with our test infrastructure, but only with some quirks cause we are using mocha and chai. Would it be possible to add an option to the module, which test library to use? I had a look at your code and you are just adding matchers to the jasmine object.

My current solution hacked in 5 min to get things working is the followin

[2016-04-18 06:40] koola commented on #12
Thanks for looking into this. I'll look to adding it into the next release.

[2016-04-19 06:40] Legiew opened #13 "Fix production dependency camel-case"
Hey,

just found another small bug: You have camel-case in dev dep but it is used in index.js. We had to install it manually. Can you move it to prod deps to improve and fix install experience?

[2016-04-19 10:39] koola commented on #13
Good spot! It's currently fixed in commit to be included in next release.

[2016-04-22 09:47] koola commented on #12
Added in latest release, closing.

[2016-04-22 09:47] #12 closed

[2016-04-22 09:47] koola commented on #13
Fixed in latest release, closing.

[2016-04-22 09:47] #13 closed

[2016-04-25 12:23] akkinitsch opened #14 "PixDiff not resolving path to framework during initialisation"
Hi everyone,

I would like to give pix-diff a shot and got the following behaviour:

Part of my protractor.config.js:

`onPrepare: function () {  //configure junit xml report

        var pixDiff = require('pix-diff');
        browser.pixdiff = new pixDiff(
            {
                basePath: 'screenshots/test/',
                width: 1280,
                height: 1024
            }
        )

[2016-04-26 07:21] koola commented on #14
Hi Akki,

Couple questions;

1. What version of protractor are you using?
2. What framework is protractor using?

[2016-04-26 08:27] akkinitsch commented on #14
Hi Koola,

i'm using protractor version 3.2.2 with jasmine2 as framework.

Regards

Akki

[2016-04-26 14:20] koola commented on #14
I'm suspecting that it's not got the absolute path to the current directory.

Please try the folowing:

1. In Protractor config, make sure ```browser.framework: jasmine2``` is set
2. Inside [index.js on line 50](https://github.com/koola/pix-diff/blob/master/index.js#L50), replace with ```require(path.resolve(__dirname, 'framework', data.framework));```.

[2016-04-26 16:06] akkinitsch commented on #14
That solved the problem - thank you very much.

[2016-04-27 01:06] koola commented on #14
Thanks for confirming. I'll push the fix in the next release.

[2016-04-28 18:34] qualityshepherd commented on #14
This fixed the issue for me as well... thanks! Also, you're missing a comma in index.js on line 44 :)

[2016-05-12 05:30] D4NH commented on #8
found a solution by getting the browser device pixel ratio and multiply all values within this part

`rect = { height: size.height, width: size.width, x: Math.floor(point.x), y: Math.floor(point.y) };`

[2016-05-16 18:36] qualityshepherd commented on #14
At the risk of sounding ungrateful for pix-diff, an update will allow me to stop manually fixing this on every `npm install` ;)

[2016-05-17 04:56] koola commented on #14
This is fixed and release on v1.0.10

[2016-05-17 04:56] #14 closed

[2016-05-17 04:57] koola commented on #8
@D4NH That's interesting, any PR?

[2016-05-17 10:40] D4NH commented on #8
getting errors when pushing, company restrictions :/

does this help? could be improved I think.
https://p.teknik.io/hctoY

[2016-05-17 17:39] qualityshepherd commented on #14
Awesome. Thanks a bunch!

[2016-05-19 07:17] koola commented on #8
Thanks for the sample code. Please have a test using commit e8793e1cf52dd57875507fcc0006e33019391a72

[2016-05-25 13:17] joaoffalcao commented on #8
@koola and @D4NH any news? I'm still with the same issue.

[2016-05-27 07:58] koola commented on #8
@joaoffalcao Please have a try using the master as the fix is in.

[2016-05-31 15:43] webdynamik commented on #6
+1

[2016-06-20 18:20] qualityshepherd opened #15 "Focused Jasmine specs fail with error: Failed: expect(...).toMatchScreen is not a function"
**Steps:**
1. Assumes a Jasmine spec that uses pix-diff, with a `toMatchScreen()`
2. Focus spec by adding an `f` to the `describe` block (and thus run only that spec)
3. Run spec

**Results:**
The first spec after the `fdescribe` block will fail with: `- Failed: expect(...).toMatchScreen is not a function`. Specs after the first pass as expected. The same spec passes when run without focus.

**Imp

[2016-06-23 00:35] koola commented on #15
I'll take a closer look at this when I've got some time. Expecting it's probably a jasmine issue relating to their custom matchers.

[2016-08-21 00:38] skorrap opened #18 "Using "custom" framework with protractor cucumber"
**config file contains like this:**
framework: 'custom',
frameworkPath: require.resolve('protractor-cucumber-framework'),

When i tried run after installing pix-diff, giving below error:
_E/launcher - Error: Cannot find module 'C:\***\node_modules\pix-diff\framework\custom'_

This actually not an issue as im using different framework other than Jasmine, Jasmine2 or Mocha. Would be great if it can

[2016-08-21 21:47] hkong commented on #8
I think I'm having this problem as well.  Chrome 52.  MacBookPro El Capitan.

When I do a saveScreen(), I get a PNG that is about 4 times larger than Chrome presents in the browser.  I can deal with that.  But when I do a saveRegion( element(by.css(...) ), I get the wrong region.

[2016-08-22 03:21] koola commented on #18
@skorrap I can look to add support for more frameworks in a future release, but priority is low for now.

[2016-08-22 14:03] wswebcreation commented on #18
Hi @koola,

I already made a fork to add support and add unit tests with cucumber. I can make a PR for it if you want.

I also got some extra "features"/"fixes", also interested?

[2016-08-22 20:25] skorrap commented on #18
@koola @wswebcreation-Thanks for response..
@wswebcreation -  looks very close to my requirement. Have one question though about matchers
with custom framework -  can we use .toMatchScreen(); or .matchScreen();? - It saying those are not a functions.

[2016-08-22 20:34] wswebcreation commented on #18
@skorrap

There are no matchers for Cucumber.js, also mentioned it in the readme with an example because Cucumber.js doesn't have an own 'expect' method, you need 'chai' and 'chai-as-promised' and create an own method

[2016-08-23 03:32] koola commented on #18
@wswebcreation Thanks a lot for the PR! Already merged in master so closing this issue.

[2016-08-23 03:32] #18 closed

[2016-08-23 04:37] wswebcreation commented on #18
Your are welcome!

[2016-08-24 19:35] wswebcreation opened #20 "DevicePixelRatio Fix broken for Firefox and save/checkRegion not correct after scroll"
**Used version:** 1.0.11
**Tested on browsers:** Chrome / Firefox / Safari / Internet Explorer 11

**Issues:**

- devicepixelratio fix isn't working for Firefox
- save/checkRegion isn't taking correct screenshots

**Steps _devicepixelratio fix isn't working for Firefox_:**
Take screenshots of an element in Firefox with `saveRegion`

**Steps _save/checkRegion isn't taking correct screenshots_:**
Ta

[2016-08-24 23:48] leonardoanalista opened #21 "generate baseline if one doesn't exist."
This would be a pretty good feature to have. I use `PhantomCSS` and they provides a good command line feedback for first run.
Would this be possible here?

[2016-08-24 23:53] leonardoanalista opened #22 "pass options to underlying image comparison tool"
I noticed `blink-diff` takes many params. One of them is `--copyImageB`. Woiuld be possible to allow `pix-diff` to pass options over to `blink-diff`?

If not, what I really want is to have, for a given test, 3 versions of the image:
  * first: the baseline image (I have already or pix-diff could create for me for first time)
  * second: image highlighting the difference (this tool does this via bl

[2016-08-25 03:26] koola commented on #21
@leonardoanalista That's not a bad idea. Currently to take a baseline, you'd insert ```saveScreen``` or ```saveRegion``` to build up your image library, then replace with ```checkScreen``` or ```checkRegion``` for comparisons.

[2016-08-25 05:31] wswebcreation commented on #21
Hi @koola,

What we did in the past is that the checkScreen / -Region had a saveScreen / -Region with something like this

[code]

[2016-08-25 08:18] koola commented on #20
Thanks for raising this @wswebcreation and the fix. I've raised a PR for us to discuss more.

[2016-08-25 10:04] koola commented on #20
Merged in PR #25

[2016-08-25 10:04] #20 closed

[2016-08-25 10:05] wswebcreation commented on #20
Tnx!

[2016-08-28 00:48] abierbaum commented on #21
I agree that this would be a great addition.

[2016-08-29 14:43] PramodDutta commented on #21
+1 ( Waiting for this to happen , currently using PhantomCSS Tests)

[2016-09-01 08:54] koola commented on #21
This is in release v1.0.12, enjoy!

[2016-09-01 08:54] #21 closed

[2016-09-01 08:56] koola commented on #8
Closing as all retina testing has reviled no issues.

[2016-09-01 08:56] #8 closed

[2016-09-01 09:33] leonardoanalista commented on #21
awesome! thanks

[2016-09-08 07:35] wswebcreation opened #26 "DevicePixelRatio fix broken for Firefox"
**pix-diff version:** v1.0.12

After v1.0.12 the DevicePixelRatio fix for Firefox is broken and returns `undefined`. This has to do with this piece of code:

[code]

I'll create a PR for this.

[2016-09-09 03:17] koola commented on #26
@wswebcreation Fixed in commit baac6ad4aef166a4b577e3cb6193d37cd25fb45a

[2016-09-09 03:17] #26 closed

[2016-09-09 04:18] wswebcreation commented on #26
Tnx

[2016-09-12 02:04] koola commented on #22
@leonardoanalista You can pass an options object to either `checkScreen` or `checkRegion` as the second parameter. This object is directly passed to Blink-diff after being merged with some defaulted options.

Koola

[2016-09-12 02:04] #22 closed

[2016-09-12 08:33] scaljeri opened #28 "this.checkImageExists(...).catch is not a function"
When I run pix-diff I always get the following error:

     Message:
        Failed: this.checkImageExists(...).catch is not a function
      Stack:
        TypeError: this.checkImageExists(...).catch is not a function
        ...

It seems to go wrong here:

        checkScreen: function (tag, options) {
            var defaults;

            return this.flow.execute(function () {

[2016-09-13 04:23] koola commented on #28
Thanks for providing your solution @scaljeri, however on my local with Node `v5.10.1` and Protractor `v4.0.5` all test are passing, same on CI;
[code]
Checking the [Selenium-webdriver promise.js](https://github.com/SeleniumHQ/selenium/blob/master/javascript/node/selenium-webdriver/lib/promise.js#L446), shows the correct way to handle thrown errors, which PixDiff is doing correctly. Suggest you cle

[2016-09-13 06:09] koola commented on #28
So this is passing on my local. According to the docs, the error should propagate up the stack, but interesting an implicit return and throw is now required.

[code]

[2016-09-13 07:39] scaljeri commented on #28
I've removed all my dependencies and it works again. I though I did that yesterday too. Anyway, not sure if this is still a valid issue!

[2016-09-13 07:41] koola commented on #28
@scaljeri No worries, I've refactored and improved the error handling with commit 370e8e8cfcac7adffa2336c25ee66ed72d5d46fb

[2016-09-13 07:41] #28 closed

[2016-09-29 14:34] kovacsbalu commented on #15
You need to specify framework. I don't know why but `_.framework` value is "jasmine" by default in pix-diff index.js.

`exports.config = {
  framework: "jasmine2",
  ...
  }`

[2016-10-04 14:21] qualityshepherd commented on #15
This also occurs when sharding tests...

[2016-10-25 07:58] koningskristof commented on #15
You could add a d.ts with this content:
[code]

But it would be nice to ship typings together with this project.

[2016-10-26 18:55] josephlaw opened #32 "consider to support multiCapabilities"
Please consider to support multiCapabilities, thanks

[2016-10-27 04:12] wswebcreation commented on #32
@josephlaw ,

Can you explain what the problem and or question is exactly? I'm using PixDiff with multiple browsers and it works fine on my local machine and from Jenkins.

[2016-10-27 07:03] josephlaw commented on #32
sorry, i make mistake myself. pix-diff support multiCapabilities. thanks.

[2016-10-27 07:45] wswebcreation commented on #32
@josephlaw, no probs

@koola , can you close this issue? Or give me te rights to do it in the future?

[2016-10-27 07:46] #32 closed

[2016-10-29 13:57] josephlaw opened #33 "checkRegion blockout size incorrect"
I use jasmine2 as below, the result image can be created but the size cropped (no date at the title bar), any idea?
`expect(browser.pixDiff.checkRegion($(":root"),'examplePage',{blockOut: [{x: 0, y: 0, width: 412, height: 50}]})).toMatchScreen();`

![android emulator-412x732](https://cloud.githubusercontent.com/assets/8828433/19830038/7c06e33c-9e22-11e6-8014-eb969ddcc8b5.png)

Another successful r

[2016-10-29 16:35] wswebcreation commented on #33
Yes I think I know why

I'm currently working with @koola on Appium support. The problem in this case it that the emulator also has a devicePixelRatio (depending on the emulator you use) you need to multiply the height and width with the devicePixelRatio for the blockout

So if dpr = 3 then you know what to do.  Hope it helps

Grtz

Wim

[2016-10-29 16:57] josephlaw commented on #33
hi @wswebcreation thank your reply, but i got the same result even multiply the height and width with devicePixelRatio = 3.

I also use Appium

[2016-10-29 17:14] josephlaw commented on #33
hi @wswebcreation thanks your reply. Got correct after multiply with devicePixelRatio.

But there is time cropped if image is visibly different.

[2016-10-29 18:51] wswebcreation commented on #33
Hi @josephlaw ,

Can you share the screen? Is it an app? By the way, checkRegion won't work correctly on elements that need to be scrolled, that's what @koola and I are working on.

[2016-10-30 01:15] josephlaw commented on #33
@wswebcreation, screen already in my first post.
i test hybrid app on Android emulator through appium, and my root element (just full screen) is not allow scrolling. thanks.

[2016-10-30 05:43] wswebcreation commented on #33
Hi @josephlaw ,

I don't understand what you mean. Is there still a problem now?
If so, can you explain it more and give an example script with the steps?

[2016-10-30 06:13] josephlaw commented on #33
Hi @wswebcreation ,

as captured below showing that the result image missing the date field.
`expect(browser.pixDiff.checkRegion($(":root"),'examplePage',{blockOut: [{x: 0, y: 0, width: 1236, height: 30 }]})).toMatchScreen();`
<img width="1130" alt="screen shot 2016-10-30 at 2 06 51 pm" src="https://cloud.githubusercontent.com/assets/8828433/19834810/7c965944-9eaa-11e6-90dc-ba1ab01243df.png">

but

[2016-10-30 07:40] wswebcreation commented on #33
Hi @josephlaw,

Is there still an issue now?

[2016-10-30 07:53] josephlaw commented on #33
hi @wswebcreation , can i raise it (enlarge) as another issue?

[2016-10-30 07:58] wswebcreation commented on #33
I don't think Enlarge is an issue.

The checkRegion crops from the original screen the part that is located as `$(":root")`. The dimensions of the `$(":root")` is smaller then the complete screen.
If you would print the dimensions of `$(":root")` you will see that it will differ from the original size of the screen.

If you want to take the screenshot of the complete screen only use `checkScreen`.

[2016-10-31 10:22] Ivan-Katovich opened #34 "autoResize doesn't work correctly"
autoResize Auto (re)size the browser (default: true)
It doesn't work correctly
The row 42 in index.js "this.autoResize = options.autoResize === false || true;" returns true anyway.
You have to replace it with something like
"this.autoResize = options.autoResize === false ? false : true;"

[2016-11-04 03:02] koola commented on #33
Thanks @josephlaw for raising this issue and @wswebcreation for the quick response!

Will look to adding DPR support for additional parameters passed to Blinkdiff via Pix-diff shortly.

[2016-11-04 07:24] necramirez commented on #34
Better yet: `this.autoResize = !(options.autoResize === false)`

[2016-11-04 07:51] necramirez opened #35 "Feature request: support for multiCapabilities"

[2016-11-04 08:00] wswebcreation commented on #35
@necramirez,

What's the question / problem or can you provide some more info. pixdiff support multiCapabilites, see also https://github.com/koola/pix-diff/issues/32

[2016-11-04 08:12] necramirez commented on #35
Yeaaah, can close this. I didn't realize right away.

[2016-11-04 08:12] #35 closed

[2016-11-04 08:16] necramirez opened #36 "getBrowserDimensions returns incorrect dimensions"
https://github.com/koola/pix-diff/blob/6ebf6521e7b2d98f336fafc28c3801ec628b3482/index.js#L240-L242

[code]

^ returns the _screen's_ dimensions -- so when I'm on a 1920x1200 monitor, that's the dimensions I get, instead of my browser's actual size.

[2016-11-04 08:26] josephlaw commented on #15
@koningskristof can you elaborate how to implement d.ts?

Because I only can hardcode to add ` require('/xxxx/node_modules/pix-diff/framework/jasmine2')` into jasmine spec to fix this problem.

[2016-11-04 08:32] wswebcreation commented on #36
Hi @necramirez,

Thnx for the feedback, you are right. I should be more like this

[code]

@koola can you pick this up also with https://github.com/koola/pix-diff/pull/37

[2016-11-04 08:39] koningskristof commented on #15
With typings you can set your typings-dependencies, but also include a local file as the source for a typing: https://github.com/typings/typings/blob/master/docs/commands.md

However it would be nice that the author of this project could ship this with a d.ts file, see http://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html

[2016-11-04 08:45] necramirez opened #39 "Question: What does the autoResize mean?"
Based on https://github.com/koola/pix-diff/blob/6ebf6521e7b2d98f336fafc28c3801ec628b3482/index.js#L83-L85

[code]

`autoResize` will force-resize the browser to the provided `width` and `height` parameters. Is that correct? Is that all?

[2016-11-04 08:49] wswebcreation commented on #39
The previous version of PixDiff set the height and the width of the window based on the parameters that were given in the `onPrepare` of Protractor.
Last version we made this configurable because it is not always needed / wanted. Each testcase can have a different set of screensizes.
Providing `autoResize : false` should not resize the screen to the default / provided width and height.
Hope this i

[2016-11-04 08:53] necramirez commented on #39
👍 This is relevant to the next issue I'm writing. 😛

[2016-11-04 08:53] #39 closed

[2016-11-04 08:57] necramirez opened #40 "Allow window size to be provided by browser capabilities"
If `autoResize` is set to `false`, I expect the screenshots to use the dimensions specified in Protractor's capabilities config. For example, the following `multiCapabilities` config is not supported by `pix-diff`:
[code]

because the browser dimensions are only used when `platformName` is present (as I understand, this is when run through Appium) -- `platformName` is empty on desktop:
https://git

[2016-11-04 09:02] wswebcreation commented on #40
Hi @necramirez ,

Tnx, we'll look into that

[2016-11-04 09:13] necramirez opened #41 "Documentation request: threshold and other BlinkDiff options"
~~I see that https://github.com/yahoo/blink-diff has `threshold` and `thresholdType` options. Sounds useful to be able to control it.~~

Going through the source code, it seems its possible to pass in BlinkDiff options to a `checkScreen()`/`checkRegion()` call. Would be nice to know that in the documentation. 😁

[2016-11-04 09:24] necramirez commented on #40
Just tested my suggested code change locally, and it works for me. 😁

I don't use Appium (yet) though, so I'll leave it to you guys to consider (and test). I'll write a PR for this and park it here. 😜

[2016-11-04 09:25] wswebcreation commented on #40
tnx

[2016-11-05 08:54] #34 closed

[2016-11-05 08:57] koola commented on #40
Thanks @necramirez for the PR, merged.

[2016-11-05 08:57] #40 closed

[2016-11-05 09:00] koola commented on #41
Yes, we plan on improving the documentation so that these are clear. Expect more complete docs along with the appium merge.

[2016-11-05 09:01] koola commented on #15
I'll take a look into this when time permits.

[2016-11-12 05:52] josephlaw opened #43 "remove assert on browserName"
i prefer remove below statement in pix-diff's index.js, when testing with native mobile application.
`        assert.ok(_.capabilities.browserName, 'Browser name is undefined.');`

[2016-11-12 06:38] wswebcreation commented on #43
The tool is initially not build to test apps on mobile
What kind off app do you have, a native or a hybrid app?
What are the capabilities you at least use to test your app?

[2016-11-12 06:57] josephlaw commented on #43
hi @wswebcreation, my app is built in hybrid and native, and run testing using Appium. if I set a value in browserName then the Appium will trigger the browser in the mobile device.

[2016-11-12 07:25] wswebcreation commented on #43
Just curious about the native part, does the app start with the native part and if so, how do you automate this with Protractor because it normally fails when starting a native app without a webview in the first screen.

To get back at your capabilities. What is the bare minimum capability that you need to provide to appium to open your app?
If there is one, can we then say that if no browserName

[2016-11-12 07:47] josephlaw commented on #43
sorry for my typo that I only develop in hybrid.  You are right that I set browserName='', the app capability needs to be there. And if it is also not there, then the process should fail.

[2016-11-12 07:49] wswebcreation commented on #43
But still, what is the capability that you need to start your app?

Is that 'app' ?

[2016-11-12 08:16] josephlaw commented on #43
@wswebcreation, i use capabilities as below for your reference, thanks
[code]

[2016-11-12 11:27] koola commented on #43
Hi @josephlaw, planning on adding Appium support very soon, see [feat/appium](https://github.com/koola/pix-diff/tree/feat/appium)

[2016-11-12 11:37] wswebcreation commented on #43
@koola

Can you check hangouts?

[2016-11-14 04:07] #33 closed

[2016-11-14 04:08] #43 closed

[2016-11-18 03:12] koola commented on #36
This is fixed, closing.

[2016-11-18 03:12] #36 closed

[2016-11-18 03:13] koola commented on #41
Hi @necramirez, have added more documentation so is it clear enough for you now?

[2016-11-18 09:22] necramirez commented on #41
👍

[2016-11-18 09:22] #41 closed

[2016-11-22 02:19] josephlaw opened #44 "incorrect width and heigth in 1.1.16"
I had set the width and height in protractor configure file (for Linux and Chrome), but the pix-diff haven't get correct size (e.g. it try to find base image xxxx-linux-1008x765.png). so i switch back to use 1.0.14.  Or something else i need to set? thanks.

[code]

[2016-11-22 03:42] josephlaw commented on #44
Why set isMobile to true if i put value into deviceName?
[code]

[2016-11-22 05:55] koola commented on #44
Hi @josephlaw, ```deviceName``` is used for Appium mobile testing only. Using ```name``` is the correct usage for your scenario.

[2016-11-22 11:34] #44 closed

[2016-11-30 21:49] johnvnguyen commented on #15
A quick work around is using `expect(...)['toMatchScreen']();` so you won't compilation errors.

[2016-11-30 21:55] johnvnguyen opened #45 "Old version of Blink-Diff"
Is it a problem to upgrade the blink-diff dependency version in package.json from 1.0.12 to something higher?

I found this bit in blink-diff's index.js: `this._threshold = options.threshold || 500;`
When I set the threshold to 0, it becomes a problem.

The newest version of blink-diff checks if it is undefined:

return (value == null) ? defaultValue : value;
}
this._threshold = load(options.thres

[2016-12-01 02:31] koola commented on #45
Hi @johnvnguyen, no problem will bump it soon.

[2016-12-07 05:55] koola commented on #45
I've pushed 1.2.0 which included PixelDiff as the new comparison engine. It's effectively a fork of BlinkDiff with patches applied to fix the outstanding issues.

[2016-12-07 19:13] johnvnguyen commented on #45
Nice, thanks!

[2016-12-12 06:39] #45 closed

[2016-12-29 23:13] d3ming opened #48 ""this.addMatchers is not a function" error when running with protractor + jasmine 2"
I'm just trying this out and followed the [example](https://github.com/koola/pix-diff/blob/master/docs/examples.md) to add pix-diff to the protractor conf.  I haven't even tried to actually use it in a spec yet, and just wanted to see if existing tests can run without a hitch.

However, I'm getting this error consistently:

[code]

Seems like it's using the `[framework/jasmine.js]`(https://github.

[2016-12-30 03:14] koola commented on #48
Hi @d3ming, could you try add ```framework: 'jasmine2'``` into your conf like [here](https://github.com/koola/pix-diff/blob/master/test/conf/protractor.shared.conf.js#L9) and try again.

[2017-01-03 08:41] koola commented on #48
I've fixed this for when `framework` is omitted from the config in 0e8b0ebfea631d54c9d4ab70dcbd4f8b0b460889

[2017-01-03 08:41] #48 closed

[2017-01-03 22:20] qualityshepherd opened #49 "Bug: Canvas regions save filename with wrong screen sizes on Chrome"
On my macbook pro (retina screen), when I run tests using pix-diff, they are saving the files as `...chrome-2048x1554-dpr-2.png`, even though I specify width/height in the pix-diff options as 1024/800, and specify the browser size in my Protractor config to also be 1024/800. This _doesn't_ happen when I run them on Linux.

This doesn't occur when running tests on Firefox, nor when using Pix-diff 1

[2017-01-04 04:57] koola commented on #49
Thanks @qualityshepherd , I'll take a look at this

[2017-01-04 09:52] koola commented on #49
From master I can't reproduce the issue. Planning on releasing a new version this week.

[2017-01-04 12:36] qualityshepherd commented on #49
Hmmm... then _I'll_ take a look :) Thanks!

[2017-01-04 13:53] qualityshepherd commented on #49
Oh, duh... sorry... this occurs with _regions_ when the target is a canvas. Here's a quick test that will reproduce the issue...

Also, if you uncomment the expect, it reproduces #15

[code]

[2017-01-05 23:42] d3ming commented on #48
Thanks!

[2017-01-10 22:55] qualityshepherd commented on #49
@koola are you able to reproduce this with the example test ^^?

[2017-01-11 02:56] koola commented on #49
@qualityshepherd I'm not able to reproduce from master, however the matchers are a problem that I'm working on.

[2017-01-11 04:40] koola commented on #15
Ok, this happens when the matcher is loaded into a `beforeEach` as each matcher is already wrapped in a `beforeEach`.
Options are:

1. Split out loading the matchers in a separate function (would only need to be called once)

2. Remove the wrapped matchers, but then only instantiate PixDiff within a `beforeEach`

Option 1 looks cleaner to me.

[2017-01-11 09:00] koola commented on #15
This is fixed in release. Now you need to call the static method `loadMatchers()` outside of the `beforeEach()`. The matchers name has changed to `toPass()`, see the examples for usage.

[2017-01-11 09:41] koola commented on #49
@qualityshepherd after poking around I am able to reproduce and am working on it.

[2017-01-11 15:30] qualityshepherd commented on #49
Awesome. This is blocking some tests I want to finish.

BTW, love pix-diff... thanks a bunch!

[2017-01-11 15:45] qlikbez opened #51 "Version 1.2.1 - Problem in loading module"
I've referenced the latest version 1.2.1 from the npm repository but it breaks the node module loading, i think could be some syntax problem, or it has no compatibility with babel (EC6), message:

[16:40:22] E/launcher - Error: SyntaxError: Unexpected token =
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:387:25)
    at Module._extensions..js (module.js:422:10)

[2017-01-11 16:00] wswebcreation commented on #51
Which version of node are you on? I expect < 6

I found out that png-image (dependency), that was upgraded to a newer version, caused this problem in combination with Node < 6.

If you upgrade (save upgrade with NVM) to 6.9 or latest stable of 7 the issue won't popup.

Hope it helps

Grtz

Wim

[2017-01-11 16:54] qlikbez commented on #51
yes correct, thanks!

[2017-01-11 16:58] wswebcreation commented on #51
Don't close the issue. It's a "breaking change" in png-image that should be fixed

[2017-01-12 04:29] koola commented on #51
Sorry, this is my bad for not updating the engine enforcement version in `package.json`. The reason is due to using ES6 defaults, which according to [node.green](http://node.green/) requires `node >= 6.9.2`

[2017-01-12 04:42] koola commented on #49
@qualityshepherd latest version is out! Tests are all passing on my local mbp.

[2017-01-12 15:25] qualityshepherd commented on #51
I was just about to write this bug... so looks like I need to update node.

[2017-01-12 15:36] wswebcreation commented on #51
Still think it's a "bug" 😁, or a new release because of dependency bumps

[2017-01-12 15:47] qualityshepherd commented on #51
Yeah, no... not a bug, but rather a breaking change.

[2017-01-12 15:49] qualityshepherd commented on #15
Yeah, while the example test I offered loaded the matchers in a `beforeEach`, in my _acutal_ code, it does not, and sadly, this is still an issue.

[2017-01-12 15:49] qualityshepherd commented on #49
This is still an issue with 1.2.1.

[2017-01-12 15:55] wswebcreation commented on #49
1.2.2 is out

[2017-01-12 15:56] qualityshepherd commented on #49
oh... sorry, yeah, 1.2.2.

The example is also saving the png at the wrong size. Eg...

![image](https://cloud.githubusercontent.com/assets/3298906/21896856/5fc2fa24-d8ad-11e6-900c-a9c1df54554a.png)

[2017-01-12 15:58] wswebcreation commented on #49
Size is correct, size is of the complete screen. You will find it in the docs

[2017-01-12 16:02] qualityshepherd commented on #49
On my actual tests, the screen should be 1024x777, but the saved png is 2048x1554. On Firefox, this is not an issue.

[2017-01-12 16:13] wswebcreation commented on #49
Do you have a Mac with a Retina display? If so, then the device pixel ratio is 2, that's why it's twice as big.
Firefox is defaulted to 1 because the screenshot size is not influenced by the DPR

It's up to @koola to fix this / to determine if he sees this as a bug

[2017-01-12 16:35] qualityshepherd commented on #15
Here's an updated example test that displays the issue, and works with 1.2.2. Run on my retina macbook, chrome saves the png as `canvas-Test-chrome-2048x1554-dpr-2.png`... firefox saves pngs as `canvas-Test-firefox-1024x777-dpr-1.png`.

[code]

[2017-01-12 16:58] wswebcreation commented on #49
For the naming of the file the docs / code will explain why this happens.

As said, it's up to @koola what to do with it. Based on the current code/docs it don't think it's an issue

[2017-01-12 17:15] qualityshepherd commented on #49
Yeah, I understand... I might have to find another solution for visual testing

[2017-01-12 17:17] wswebcreation commented on #49
What's the real problem then, do you need to have the screenshot size in your filename?

If not, create a custom filename. See the docs

[2017-01-12 17:56] qualityshepherd commented on #49
As per the docs, this issue is fixed, so I'll close it.

My issue is that I run tests on multiple environments, and this adds to the maintenance pains. These pains are obviously inevitable for visual testing, so this is partially just me being annoyed by having to have _two_ mac baselines for each test (retina and non-retina). My confusion was due to the breaking change update, and being used to t

[2017-01-12 17:56] #49 closed

[2017-01-12 20:05] wswebcreation commented on #49
The issue is that the screenshots are created based on the dpr on a screen/device.
You can "fix" this by using an external screen on which you know the dpr is 1 (mostly connected with VGA)

"We" could resize the screenshot to dpr=1 but that could result in resizing issues during comparisons

[2017-01-12 20:36] qualityshepherd commented on #49
It's a hard problem. The argument for this still being a "bug" is that it's inconsistent accross browsers... but lots for things are. If you can "fake" the dpr to 1, and not have differences, that'd be great. Doesn't seem like that would work though, just like resize wouldn't work. Ain't nothing easy :)

We run tests locally on macs, some of which have retinas. I also run them headlessly on ubuntu

[2017-01-12 20:43] wswebcreation commented on #49
I think you got the core of the problem

Each browser has its own image and even an image on chrome windows can differ from chrome on mac / ubuntu.

That is what makes image comparison so hard /difficult (or you need paid solutions like Applitools)

You can work with blinkdiff options to minimize the differences, but then you will get false positives or a higher change on that

[2017-01-12 21:04] qualityshepherd commented on #49
Agreed.

[2017-01-13 06:06] koola commented on #51
I've fixed the semver, closing this now.

[2017-01-13 06:06] #51 closed

[2017-01-13 06:09] wswebcreation commented on #51
Are you also going to revert the breaking changes from 1.2.2 to a new version 1.2.3?

Otherwise 1.2.2 == 2.0.0 and people still have problems when depending ^1.2.0

[2017-04-25 08:22] mcampster opened #52 "Approval Workflow"
Are there any plans to add an approval workflow interface to this tool, so you can accept/reject changes which would add the approved image to the baseline?

Something along the lines of Visual Review or Applitools, which seem to be the only other protractor based visual regression tools.

[2017-04-25 08:59] koola commented on #52
Thanks for the question! I have actually thought about this, but determined it would probably be a separate tool so other visual tools could be used. If this idea gets more up votes, I'll put up the effort.

[2017-04-25 09:09] mcampster opened #53 "Element selectors"

[2017-04-25 09:09] #53 closed

[2017-05-11 08:02] jvornkahl2222 opened #54 "Cannot overwrite default options"
We cannot overwrite the default options. We want to save a diff image if there is a similar output.

Line 178 in index.js _mergeDefaultOptions handle custom options.

We think this code is better:
`if (optionsB.hasOwnProperty(value)) {
                optionsA[value] = optionsB[value];
            }`

[2017-05-11 15:11] jvornkahl2222 commented on #54
Thank you for your support.

Do you update version 2.0.0? What is the best and fastest way to fix it for everyone?

[2017-05-12 09:35] koola commented on #54
Hi @jvornkahl2222, the patch committed fixes your issue. However the build is failing for other reasons so when I have some free time to make the build green, I'll push a minor release.

In the meantime, you can update your `package.json` to point at this commit.

[2017-06-18 02:34] koola commented on #54
Released in 2.0.1

[2017-06-18 02:34] #54 closed

[2017-07-14 00:45] chinhnguyen8855 opened #55 "Incorrect base image name when call save region with given formatImageName"
OS: Mac (Sierra)
pix-diff version : 2.0.1
framework: cucumberjs
browser: Chrome

I tried to save a region base image with given formatImageName but it does not work.
Could you please help?

Here is snippet...

var PixDiff = require('pix-diff');
var pageMapRegion = 'pageMap';

browser.pixDiff = new PixDiff({
    basePath: './screenshots/',
    diffPath: './screenshots/',
    width: 1800,
    height

[2017-07-14 01:00] koola commented on #55
Hi @chinhnguyen8855
Looks like  `var pageMapRegion` is scoped, but you're trying to use it globally.

Either make it global ```global pageMapRegion = 'pageMap';``` or define it in your step:

[code]

[2017-07-14 06:03] chinhnguyen8855 commented on #55
Hi koola,
I removed variable, and passed as a string but it is still same result.  Am I missing something?

   this.When(/^I save the page map region of the page$/, function () {
        return browser.pixDiff.saveRegion(element(by.id('np-p-page-map-container-id'), 'pageMap'));
    });

Result:
![image](https://user-images.githubusercontent.com/3290297/28200165-44055bf4-681f-11e7-8037-45e73604b734

[2017-07-14 09:44] koola commented on #55
You're including `pageMap` in element, not `saveRegion` in the original snippet.

Try:

this.When(/^I save the page map region of the page$/, function () {
    var pageMapRegion = 'pageMap';
    return browser.pixDiff.saveRegion(element(by.id('np-p-page-map-container-id')), pageMapRegion);
});

[2017-07-14 16:15] chinhnguyen8855 commented on #55
Thanks koola!... It works now.

[2017-07-14 16:15] #55 closed

[2017-09-01 20:50] mfulton26 opened #56 "Error: ReferenceError: browser is not defined"
I'm trying to try out pix-diff but I cannot get it to run:

[code]

[code]

`browser` is clearly defined but for some reason PixDiff cannot find it.

[2017-09-02 10:06] koola commented on #56
Can you try the following:

[code]

Also make sure option ```noGlobals``` is not set to true in [config.ts](https://github.com/angular/protractor/blob/42846ec5eb12ae58c4105a7e21030d1be87032c7/lib/config.ts#L196)

[2017-09-02 15:39] mfulton26 commented on #56
Oh, that makes a lot of sense, I actually do have `noGlobals` set. Hmmmm, is there any way to use pix-diff with `noGlobals: true`?

[2017-09-04 09:01] koola commented on #56
Not really I'm afraid atm. I'll add check in a future release to make this more obvious and verbose.

[2017-09-04 09:01] #56 closed

[2017-09-05 18:54] chinhnguyen8855 opened #57 "Inconsistence test result when call checkRegion api"
OS: Mac (Sierra)
pix-diff version : 2.0.1
framework: cucumberjs
browser: Chrome

Hi,
I use checkRegion to compare the given base region screenshot against in test region image.  I tested on same client (Mac/Chrome).  However, the test result is very inconsistence.  Sometimes it passed, other times it failed.
Could you please help with some suggestions?

Here is utility js file:

   /**
     * @des

[2017-09-06 08:05] koola commented on #57
The result object should be `result.code`, see [docs](https://github.com/koola/pix-diff/blob/master/docs/index.md#checkscreentag-options--object) for details.

[2017-09-06 08:05] #57 closed

[2017-09-20 18:09] mfulton26 opened #59 "TypeScript support"
Any chance things like `.toPass`, etc. can be made available to Protractor code written in TypeScript?

[2017-09-21 04:15] koola commented on #59
I haven't got time to look at this right now, hope someone can help open a PR for this.

[2017-09-22 15:25] mfulton26 commented on #48
FYI: It may be a plugin or something that I am using but if I omit 'framework' from my config it gets recognized as ''jasmine'` instead of `'jasmine2'` because protractor itself is defaulting the value or some plugin is. I wonder if there is another way to determine which version of jasmine is being used...

[2017-09-22 18:44] mfulton26 opened #60 "How do I re-baseline?"
I thought that setting `baseline: true` would create new images for the test cases that "fail" but it doesn't. Is there a flag for this? What I'd like to do is automatically overwrite the baseline files with the new images and then use git scm to review these differences (bitbucket and github both have decent image diff options in pull requests). That way I don't have to go find which ones failed

[2017-09-22 19:03] mfulton26 opened #61 "Ignore region feature"
Would you be opposed to an `ignoreRegion` feature being added? I might be up to doing a pull request for that. e.g. I have a screen that I expect to be identical although I know that a certain `<output>` tag might contain a different value from time to time so I'd like to simply ignore the region for that element.

[2017-09-22 19:42] mfulton26 opened #62 "ENOENT at Error (native)"
I get the following when using `checkPage` but not `checkScreen`:

[code]

The rest of the stack trace is just my Suite.describe and not any pix-diff or other dependency related code so I'm a bit confused as to where/why exactly the error is being thrown.

[2017-09-23 00:35] koola commented on #60
Please read the docs. `baseline: true` will only save images not found in `basepath`. If there is a previous image, then it's ignored.

[2017-09-23 00:59] koola commented on #61
PixDiff already supports blocking out regions using its underlying comparison engine [PixelDiff](https://github.com/koola/pixel-diff).
[code]

Here's an example of how to use it:
[code]

[2017-09-23 01:18] koola commented on #62
Not sure, take a look at `desktop.spec.js` as that test is passing on my local.

[2017-10-07 14:31] #60 closed

[2017-10-07 14:32] #61 closed

[2017-11-01 07:06] #62 closed

[2017-12-18 20:52] ignamiguel commented on #15
I believe that the problem is that you must specify the `framework: 'jasmine2'` parameter in protractor config file.
Then, the `toPass()` matcher is working ok.
Without the framework, is not
Hope this can help 👍

[2018-01-25 14:24] Coosec opened #63 "Jasmine 2.9 breaks pix-diff"
After Jasmine update to version 2.9 tests with pix-diff are broken.
There is an `Error: 'beforeEach' should only be used in 'describe' function.`

That change in Jasmine causes this issue:
[https://github.com/jasmine/jasmine/pull/1411/files#diff-f41e57b2889bae3046aa9f352699785cR390](url)

This error can be easily reproduced by creating new project with Angular CLI, installing pix-diff and trying t

[2018-01-26 01:22] koola commented on #63
Thanks for the info, will look into it.

[2018-03-19 12:15] JochenDiekenbrock opened #64 "saveRegion() bigger than screen not working correctly with Chrome headless"
if saveRegion() is used to save a region that is bigger than the screen height, the saved image is only as high as the specified screen height, the rest is cut off, if Chrome is used in headless mode.

If Chrome is started normally, the image height is as high as needed to fit the specified area.

Any ideas?

Versions:
- Chrome Version 65.0.3325.162
- Pix-Diff 2.0.1
-

[2018-03-20 08:38] koola commented on #64
It seems chrome headless is only capturing the viewport area. Pix-diff is entirely dependent on webdriver for taking screenshots.

[2018-03-20 10:32] JochenDiekenbrock commented on #64
Thank you for pointing me in the correct direction. [Webdriver.saveScreenshot](http://webdriver.io/api/utility/saveScreenshot.html) documents this behaviour and it mentions, that wdio-screenshot could be of help here. But I have no idea, if I can add wdio-screenshot by configuration to pix-diff?

[2018-03-21 01:54] koola commented on #64
I can look at adding support for wdio-screenshot in the next refactor.

[2018-03-27 02:18] #15 closed

[2020-09-01 13:49] sakshi1990 opened #66 "browser.pixdiff gives undefined"
while using code await browser.pixdiff.saveScreen('example-page-pix-diff');  gives error "Failed: Cannot read property 'saveScreen' of undefined"